* {
	margin: 0;
	padding: 0;
}

section {

	width: 100%;
	height: 500px;
	float: left;
}

aside {
	width: 50%;
	height: 500px;
	float: left;
}

img {
	width: 95%;
	height: 95%;
	margin-top: 15px;
}

article {

	width: 100%;
	height: 100%;
	margin-top: 15px;
	text-align: center;
}

section article p {
	padding-left: 50px;
	padding-right: 50px;
}

@media only screen and (max-width: 600px) {
	section {
		display: block;
		width: 100%;
		height: auto;
	}
}

