* {
	margin: 0;
	padding: 0;
}

div p {
	margin: 10px;
	padding: 10px;
}

.log {
	text-align: center;

}
.reg {
	text-align: center;
	width: 200px;
	height: 400px;
	margin: 20px;
	position: relative;
	left: 40%;

}	

.reg input {
	display: block;
	width: 200px;
	height: 23px;
	margin-top: 20px;
	border-spacing: 5px;
	border-color: rgba(30,30,30,0.5);
	text-align: center;
	background-color: rgba(250,250,250,0.9);

}
