body {
	margin-top: 20px;
	text-align: center;
	color: rgb(0,0,0);
	font-family: sans-serif;
	background: url(office-desk-with.jpg);
	background-size: 100% 100%;
	background-position: top left;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

nav {
	display: inline-block;
	background-color: rgba(0,0,0,0.2);
}

nav a {
	display: inline-block;
	font-family: sans-serif;<!--Promeni font --> 
	font-size: 20px;
	float: left;
	color: black;
	padding: 2px 50px;
	text-decoration:none;
}

.fa {
	background-color: #000;
	color: #fff;
	width: 42px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	margin-right: 5px;
}

nav a:hover {
	background-color: rgba(30,30,30,0.4);
	color: white;
}



@media only screen and (max-width: 600px) {
	nav a {
		display: block;
		width: 100%;
		height: 25px;
		text-align:center;
		float: left;
		padding: 0;
		
	}

